In [1]:
#Nama: Yudha Cipta Maulana Yusuf
#Hacktiv8 Batch 01
#Live Code P0LC1


Live Code - Problems to calculate R

In [71]:
#library yang digunakan
import pandas as pd

In [72]:
#load dataset
df = pd.read_csv("NMC1-9.csv")

dibawah ini merupakan data eksplorasi sederhana

In [73]:
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
time(s)        90982 non-null int64
V_m            90982 non-null float64
Current (A)    90982 non-null float64
Cycle          90982 non-null int64
Cap            90982 non-null float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817
5        5  4.091        0.997      1  2.840817
6        6  4.090        0.996      1  2.840817
7        7  4.089        0.996      1  2.840817
8        8  4.089        0.995      1  2.840817
9        9  4.088        0.995      1  2.840817

In [74]:
df.describe()

            time(s)           V_m   Current (A)         Cycle           Cap
count  90982.000000  90982.000000  90982.000000  90982.000000  90982.000000
mean   45490.500000      3.607666      0.999264      4.978699      2.806214
std    26264.385433      0.322777      0.001997      2.582135      0.023283
min        0.000000      2.497000      0.993000      1.000000      2.770180
25%    22745.250000      3.422000      0.997000      3.000000      2.786860
50%    45490.500000      3.636000      0.999000      5.000000      2.804878
75%    68235.750000      3.868000      1.001000      7.000000      2.823520
max    90981.000000      4.114000      1.003000      9.000000      2.840817

In [75]:
len(df)
df.shape

(90982, 5)

In [76]:
df.tail

<bound method NDFrame.tail of        time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]>

In [77]:
df["V_m"].value_counts()

4.001    252
3.991    232
3.997    228
3.996    223
3.994    216
        ...
2.552      2
4.114      2
2.497      2
2.556      2
2.636      2
Name: V_m, Length: 1617, dtype: int64

In [143]:
#mempersingkat suatu nama dalam tabel
df.columns = df.columns.str.upper().str.replace('_', '')
renamed_df=df.rename(
    columns={"TIME(S)":"TIME","CURRENT (A)":"ampere"}
)
renamed_df.tail()

        TIME     VM  ampere  CYCLE      CAP
90977  90977  2.506   1.002      9  2.77018
90978  90978  2.504   1.002      9  2.77018
90979  90979  2.502   1.002      9  2.77018
90980  90980  2.500   1.002      9  2.77018
90981  90981  2.497   1.002      9  2.77018

In [133]:
df["CYCLE"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
90977    False
90978    False
90979    False
90980    False
90981    False
Name: CYCLE, Length: 90982, dtype: bool

In [134]:
Cycle = df["CYCLE"]
Cycle.head

<bound method NDFrame.head of 0        1
1        1
2        1
3        1
4        1
        ..
90977    9
90978    9
90979    9
90980    9
90981    9
Name: CYCLE, Length: 90982, dtype: int64>

In [146]:
#membagi data berdasarkan cycle genap dan ganjil

genap= renamed_df[
    (df["CYCLE"] % 2 == 0 )]
ganjil = renamed_df[
    (df["CYCLE"] % 2 == 1 )]

In [147]:
#cek data yang sudah diubah
genap.head()

        TIME     VM  ampere  CYCLE       CAP
10237  10237  4.111   0.993      2  2.833465
10238  10238  4.110   0.995      2  2.833465
10239  10239  4.108   0.998      2  2.833465
10240  10240  4.107   0.999      2  2.833465
10241  10241  4.107   1.001      2  2.833465

In [154]:
#set parameter untuk menghitung resistance (problem1)
volt_1=genap["VM"]
ampere_1=genap["ampere"]
cycle_1=genap["CYCLE"]
time_1=genap["TIME"]

In [167]:
#set parameter untuk menghitung daya (problem2)
volt_2=ganjil["VM"]
ampere_2=ganjil["ampere"]
cycle_2=ganjil["CYCLE"]
time_2=ganjil["TIME"]

In [171]:
#function untuk menghitung
time1=time_1
volt1=volt_1
ampere1=ampere_1
cylce1=cycle_1

time2=time_2
volt2=volt_2
ampere2=ampere_2
cylc2=cycle_2

def calcP (x):
    for x in "time1":
    return(genap.volt1 * ampere1)
print(calcP)

for x in "time2":
def calcR (x):
    return("volt2" * "ampere2")
print(calcR)

IndentationError: expected an indented block (<ipython-input-171-0af8a39b22e5>, line 14)

In [172]:
#hasil problem 1 (menghitung resitance)
print(calcR)

<function calcR at 0x000001B959966AF8>

In [173]:
#hasil problem 1.2 (menghitung daya)
print(calcP)

<function calcP at 0x000001B9599663A8>