# Live Code Week 1 Fase 0

Arief Luqmannurhakim  --  Batch 001

In [3]:
import numpy as np
import pandas as pd

# Soal No 1




R=  V / I

P=  VI

R adalah Kapasitas dalam satuan Ohm
P adalah Daya dalam Watt
I adalah kuat arus dalam satuan Ampere
V adalah tegangan dalam satuan Volt
Hitung kapasitas baterai tiap waktunya untuk cycle ganjil dan daya baterai tiap waktunya untuk cycle genap dari dataset dengan ketentuan sebagai berikut:

Gunakan function untuk menghitung hambatan dan daya
Harus menerapkan konsep looping, conditional if, dan pandas query

### read dataset

In [192]:
df = pd.read_excel('NMC1-9.xlsx', engine='openpyxl')
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

### Create function

In [181]:
def batt_capacity(Volt, Arus):
    
    answer = np.array([[]])
    # Daya
    # P = Volt * Arus
    daya_P = Volt * Arus

    # Kapasitas (Ohm)
    # R = Volt / Arus
    ohm_R = Volt / Arus

    return np.array([daya_P, ohm_R])

### Slice dataset for odd and even cycle

In [182]:
# Cycle genap --> R and P
arr_input = df.loc[df['Cycle'] % 2 == 0]
# Cycle ganjil --> R and P
arr_input_ganjil = df.loc[df['Cycle'] % 2 != 0]
print(arr_input)
print('===========================================')
print(arr_input_ganjil)

       time(s)    V_m  Current (A)  Cycle       Cap
10237    10237  4.111        0.993      2  2.833465
10238    10238  4.110        0.995      2  2.833465
10239    10239  4.108        0.998      2  2.833465
10240    10240  4.107        0.999      2  2.833465
10241    10241  4.107        1.001      2  2.833465
...        ...    ...          ...    ...       ...
80997    80997  2.508        1.000      8  2.783342
80998    80998  2.505        0.999      8  2.783342
80999    80999  2.503        0.999      8  2.783342
81000    81000  2.501        0.999      8  2.783342
81001    81001  2.499        1.000      8  2.783342

[40442 rows x 5 columns]
===========================================
       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[50540 rows x 5 columns]

### Loop and calcualte P and R for every cycle column-wise

In [183]:
genap_answer = np.empty((0,2))
ganjil_answer = np.empty((0,2))
x = 0
# loop and get value for Even Cycle
for i in arr_input[['V_m', 'Current (A)']].values:
    # get P and R from function
    # return array [P, R]
    temp = batt_capacity(i[0], i[1])
    genap_answer = np.vstack((genap_answer, temp))
    # x += 1
    # if x == 10:
    #     break
    
# loop and get value for Odd Cycle
for j in arr_input_ganjil[['V_m', 'Current (A)']].values:
    temp_ans = batt_capacity(j[0], j[1])
    ganjil_answer =  np.vstack((ganjil_answer, temp_ans))

### check answer shape to match the daatset

In [184]:
genap_answer.shape, ganjil_answer.shape

((40442, 2), (50540, 2))

In [185]:
ganjil_answer

array([[4.085706  , 4.11033099],
       [4.087808  , 4.10420842],
       [4.089906  , 4.0980981 ],
       ...,
       [2.507004  , 2.49700599],
       [2.505     , 2.49500998],
       [2.501994  , 2.49201597]])

### Done , create dataframe for P and R for both odd and even cycle

In [186]:
df_ganjil = pd.DataFrame(ganjil_answer, columns=['ganjil_P', 'ganjil_R'])
df_genap = pd.DataFrame(genap_answer, columns=['genap_P', 'genap_R'])

In [222]:
df_ganjil

       ganjil_P  ganjil_R
0      4.085706  4.110331
1      4.087808  4.104208
2      4.089906  4.098098
3      4.084814  4.101202
4      4.087908  4.096096
...         ...       ...
50535  2.511012  2.500998
50536  2.509008  2.499002
50537  2.507004  2.497006
50538  2.505000  2.495010
50539  2.501994  2.492016

[50540 rows x 2 columns]

### Tambahan

In [223]:
df_final = df.copy() # Copy dataframe

In [244]:
# create new column
df_final['P'] = 0 
df_final['R'] = 0

In [245]:
df_final.index  # check initial index

RangeIndex(start=0, stop=90982, step=1)

In [249]:
# initialize index for odd and even
idx_ganjil = df_final.loc[df['Cycle'] % 2 != 0, ['P']].index
idx_genap = df_final.loc[df['Cycle'] % 2 == 0, ['P']].index

In [252]:
# set index (change) for odd and even
df_ganjil.set_index([idx_ganjil], inplace=True)
ddf_genap.set_index([idx_genap], inplace=True)

In [254]:
# check after index changed
df_genap.index

Int64Index([10237, 10238, 10239, 10240, 10241, 10242, 10243, 10244, 10245,
            10246,
            ...
            80992, 80993, 80994, 80995, 80996, 80997, 80998, 80999, 81000,
            81001],
           dtype='int64', length=40442)

In [260]:
# assign value for odd cycle
df_final.loc[df['Cycle'] % 2 != 0, ['P']] = df_ganjil['ganjil_P']
df_final.loc[df['Cycle'] % 2 != 0, ['R']] = df_ganjil['ganjil_R']

# assign value for even cycle
df_final.loc[df['Cycle'] % 2 == 0, ['P']] = df_genap['genap_P']
df_final.loc[df['Cycle'] % 2 == 0, ['R']] = df_genap['genap_R']

In [258]:
df_final.loc[df['Cycle'] % 2 == 0, ['R']]

              R
10237  4.139980
10238  4.130653
10239  4.116232
10240  4.111111
10241  4.102897
...         ...
80997  2.508000
80998  2.507508
80999  2.505506
81000  2.503504
81001  2.499000

[40442 rows x 1 columns]

In [259]:
df_final

       time(s)    V_m  Current (A)  Cycle       Cap         P         R
0            0  4.098        0.997      1  2.840817  4.085706  4.110331
1            1  4.096        0.998      1  2.840817  4.087808  4.104208
2            2  4.094        0.999      1  2.840817  4.089906  4.098098
3            3  4.093        0.998      1  2.840817  4.084814  4.101202
4            4  4.092        0.999      1  2.840817  4.087908  4.096096
...        ...    ...          ...    ...       ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012  2.500998
90978    90978  2.504        1.002      9  2.770180  2.509008  2.499002
90979    90979  2.502        1.002      9  2.770180  2.507004  2.497006
90980    90980  2.500        1.002      9  2.770180  2.505000  2.495010
90981    90981  2.497        1.002      9  2.770180  2.501994  2.492016

[90982 rows x 7 columns]