<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Perkenalan" data-toc-modified-id="Perkenalan-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Perkenalan</a></span></li><li><span><a href="#Hitung-Hambatan/Resistansi-&amp;-Daya-setiap-detik-dengan-konsep:-Looping,Conditional-if,-dan-Pandas-Query" data-toc-modified-id="Hitung-Hambatan/Resistansi-&amp;-Daya-setiap-detik-dengan-konsep:-Looping,Conditional-if,-dan-Pandas-Query-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Hitung Hambatan/Resistansi &amp; Daya setiap detik dengan konsep: Looping,Conditional if, dan Pandas Query</a></span></li><li><span><a href="#Import" data-toc-modified-id="Import-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Import</a></span></li><li><span><a href="#Data-Loading" data-toc-modified-id="Data-Loading-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Loading</a></span><ul class="toc-item"><li><span><a href="#Keterangan-Kolom:" data-toc-modified-id="Keterangan-Kolom:-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Keterangan Kolom:</a></span></li><li><span><a href="#Dataset-Exploration" data-toc-modified-id="Dataset-Exploration-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Dataset Exploration</a></span></li></ul></li><li><span><a href="#Answer" data-toc-modified-id="Answer-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Answer</a></span></li><li><span><a href="#Hasil" data-toc-modified-id="Hasil-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Hasil</a></span><ul class="toc-item"><li><span><a href="#Hasil-Hitung-Hambatan" data-toc-modified-id="Hasil-Hitung-Hambatan-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Hasil Hitung Hambatan</a></span></li><li><span><a href="#Hasil-Hitung-Daya" data-toc-modified-id="Hasil-Hitung-Daya-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Hasil Hitung Daya</a></span></li><li><span><a href="#Asignment-Rubrics" data-toc-modified-id="Asignment-Rubrics-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Asignment Rubrics</a></span><ul class="toc-item"><li><span><a href="#Code-Review" data-toc-modified-id="Code-Review-6.3.1"><span class="toc-item-num">6.3.1&nbsp;&nbsp;</span>Code Review</a></span></li><li><span><a href="#Readability" data-toc-modified-id="Readability-6.3.2"><span class="toc-item-num">6.3.2&nbsp;&nbsp;</span>Readability</a></span></li></ul></li></ul></li></ul></div>

# Perkenalan

Nama: **Fadilah Nur Imani**

# Hitung Hambatan/Resistansi & Daya setiap detik dengan konsep: Looping,Conditional if, dan Pandas Query

**Instruksi:** Hitung hambatan baterai tiap waktunya untuk cycle ganjil dan daya baterai tiap waktunya untuk cycle genap dari dataset.
1. Gunakan function untuk menghitung hambatan dan daya
2. Harus menerapkan konsep looping, conditional if, dan pandas query

# Import

Melakukan import library yang akan digunakan.

In [1]:
import pandas as pd
import numpy as np

# Data Loading

Membuka data yang akan digunakan.

In [2]:
data = pd.read_excel('data/NMC1-9.xlsx')

## Keterangan Kolom:

Menampilkan keterangan kolom agar mudah dipahami.

- time(s): Detik ke- pengukuran
- V_m: Voltage/tegangan yang terukur tiap waktu
- Current (A): Kuat arus terukur tiap waktu
- Cycle: Nomor siklus charge-discharge baterai
- Cap: Kapasitas baterai tiap waktu

## Dataset Exploration

Melakukan eksplorasi pada dataset dan analisis statistik deskriptif.

In [3]:
data

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [4]:
print('Jumlah baris:', data.shape[0], '\nJumlah Kolom:', data.shape[1])

Jumlah baris: 90982
Jumlah Kolom: 5

Dapat dilihat bahwa data ini memiliki 90.982 baris data dan 5 kolom.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

- Dari sana terlihat bahwa dataset inii tidak memiliki nilai null pada seluruh kolomnya.
- Dataset terdiri dari 2 kolom dengan tipe data integer dan 3 kolom dengan tipe data float.

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
time(s),90982.0,45490.500000,26264.385433,0.00000,22745.25000,45490.500000,68235.75000,90981.000000
V_m,90982.0,3.607666,0.322777,2.49700,3.42200,3.636000,3.86800,4.114000
Current (A),90982.0,0.999264,0.001997,0.99300,0.99700,0.999000,1.00100,1.003000
Cycle,90982.0,4.978699,2.582135,1.00000,3.00000,5.000000,7.00000,9.000000
Cap,90982.0,2.806214,0.023283,2.77018,2.78686,2.804878,2.82352,2.840817

Nilai di atas adalah hasil analisis statistika deskriptif pada dataset.

Mari coba lakukan eksplorasi terhadap kapasitas baterai yang ada di dataset.
- Berapa banyak data yang memiliki kapasitas di bawah rata-rata?

In [39]:
data[data['Cap'] < 2.806214][['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap']]

       time(s)    V_m  Current (A)  Cycle       Cap
40776    40776  4.112        0.997      5  2.804878
40777    40777  4.110        0.999      5  2.804878
40778    40778  4.109        0.998      5  2.804878
40779    40779  4.108        0.999      5  2.804878
40780    40780  4.107        1.000      5  2.804878
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[50206 rows x 5 columns]

In [40]:
data[data['Cap'] < 2.806214][['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap']].count()['Cap']

50206

Ada 50.206 data yang memiliki kapasitas di bawah rata-rata yang ada di dataset ini.

# Answer

Menampilkan 5 data teratas untuk melihat gambaran dataset.

In [7]:
data.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

Membuat fungsi untuk menghitung hambatan dan daya dengan rumus yang telah ditentukan.

![title](https://camo.githubusercontent.com/65a4ab2624465aef953d58449a551d54a0322baba1fc3aeafebc0506e937e170/68747470733a2f2f6c617465782e636f6465636f67732e636f6d2f706e672e6c617465783f523d5c667261637b567d7b497d)

![title](https://camo.githubusercontent.com/d6bc770edcd27e99961cb0ca5e61c0d8e130d915270441e584213eed3018f549/68747470733a2f2f6c617465782e636f6465636f67732e636f6d2f706e672e6c617465783f503d5649)

- R adalah Hambatan dalam satuan Ohm
- P adalah Daya dalam Watt
- I adalah kuat arus dalam satuan Ampere
- V adalah tegangan dalam satuan Volt

In [8]:
def hambatan(V, I):
    "Menghitung hambatan baterai dalam Ohm"
    R = V / I
    return R

In [9]:
def daya(V, I):
    "Menghitung daya baterai dalam Watt"
    P = V * I
    return P

Fungsi untuk menghitung hambatan dan daya sudah dibuat sesuai rumus.

Karena kolom Cycle akan digunakan untuk memfilter dataset, berikut adalah gambaran nilai yang ada pada kolom Cycle.

In [10]:
data['Cycle'].value_counts()

1    10237
2    10206
3    10175
4    10158
5    10107
6    10050
7    10041
8    10028
9     9980
Name: Cycle, dtype: int64

In [11]:
data['Cycle'].values

array([1, 1, 1, ..., 9, 9, 9], dtype=int64)

Agar nilai hasil hitung hambatan dan daya dapat diassign nilai baru, dibuat kolom dengan nama keduanya untuk diupdate pada tahap selanjutnya.

In [12]:
data['hambatan (R)'] = ''
data['Daya (P)'] = ''

Berikut adalah tampilan data sebelum  nilai kolom hambatan dan daya dihitung.

In [13]:
data

       time(s)    V_m  Current (A)  Cycle       Cap hambatan (R)
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...          ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 6 columns]

Menggunakan for loop untuk menambahkan hasil perhitungan ke dalam dataset. Di dalam loop, akan dilakukan filter untuk kolom Cycle yang genap dan ganjil.

In [14]:
for i, row in data.iterrows():
    if row['Cycle'] % 2 != 0:
        # kolom Cycle yang memiliki ganjil akan diupdate dengan nilai hambatan
        data.loc[i, 'hambatan (R)'] = hambatan(V = row['V_m'], I = row['Current (A)'])
    else:
        # kolom Cycle yang bernilai genap akan diupdate dengan numpy NaN (null)
        data.loc[i, 'hambatan (R)'] = np.nan

In [15]:
for i, row in data.iterrows():
    if row['Cycle'] % 2 == 0:
        # kolom Cycle yang memiliki genap akan diupdate dengan nilai hambatan
        data.loc[i, 'Daya (P)'] = daya(V = row['V_m'], I = row['Current (A)'])
    else:
        # kolom Cycle yang bernilai ganjil akan diupdate dengan numpy NaN (null
        data.loc[i, 'Daya (P)'] = np.nan

Data dibawah adalah hasil perhitungan hambatan dan daya.

In [16]:
data

       time(s)    V_m  Current (A)  Cycle       Cap hambatan (R)  Daya (P)
0            0  4.098        0.997      1  2.840817      4.11033       NaN
1            1  4.096        0.998      1  2.840817      4.10421       NaN
2            2  4.094        0.999      1  2.840817       4.0981       NaN
3            3  4.093        0.998      1  2.840817       4.1012       NaN
4            4  4.092        0.999      1  2.840817       4.0961       NaN
...        ...    ...          ...    ...       ...          ...       ...
90977    90977  2.506        1.002      9  2.770180        2.501       NaN
90978    90978  2.504        1.002      9  2.770180        2.499       NaN
90979    90979  2.502        1.002      9  2.770180      2.49701       NaN
90980    90980  2.500        1.002      9  2.770180      2.49501       NaN
90981    90981  2.497        1.002      9  2.770180      2.49202       NaN

[90982 rows x 7 columns]

# Hasil

In [22]:
data

       time(s)    V_m  Current (A)  Cycle       Cap hambatan (R)  Daya (P)
0            0  4.098        0.997      1  2.840817      4.11033       NaN
1            1  4.096        0.998      1  2.840817      4.10421       NaN
2            2  4.094        0.999      1  2.840817       4.0981       NaN
3            3  4.093        0.998      1  2.840817       4.1012       NaN
4            4  4.092        0.999      1  2.840817       4.0961       NaN
...        ...    ...          ...    ...       ...          ...       ...
90977    90977  2.506        1.002      9  2.770180        2.501       NaN
90978    90978  2.504        1.002      9  2.770180        2.499       NaN
90979    90979  2.502        1.002      9  2.770180      2.49701       NaN
90980    90980  2.500        1.002      9  2.770180      2.49501       NaN
90981    90981  2.497        1.002      9  2.770180      2.49202       NaN

[90982 rows x 7 columns]

Lakukan testing untuk melihat apakah hitungan sudah benar:

In [24]:
data['V_m'][0] / data['Current (A)'][0]

4.110330992978937

In [26]:
data['V_m'][90981] / data['Current (A)'][90981]

2.492015968063872

## Hasil Hitung Hambatan

In [20]:
data['hambatan (R)']

0        4.11033
1        4.10421
2         4.0981
3         4.1012
4         4.0961
          ...
90977      2.501
90978      2.499
90979    2.49701
90980    2.49501
90981    2.49202
Name: hambatan (R), Length: 90982, dtype: object

In [28]:
data[data['Cycle'] % 2 != 0][['hambatan (R)']]

      hambatan (R)
0          4.11033
1          4.10421
2           4.0981
3           4.1012
4           4.0961
...            ...
90977        2.501
90978        2.499
90979      2.49701
90980      2.49501
90981      2.49202

[50540 rows x 1 columns]

In [30]:
data[data['Cycle'] % 2 == 0][['hambatan (R)']]

      hambatan (R)
10237          NaN
10238          NaN
10239          NaN
10240          NaN
10241          NaN
...            ...
80997          NaN
80998          NaN
80999          NaN
81000          NaN
81001          NaN

[40442 rows x 1 columns]

## Hasil Hitung Daya

In [21]:
data['Daya (P)']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
90977   NaN
90978   NaN
90979   NaN
90980   NaN
90981   NaN
Name: Daya (P), Length: 90982, dtype: float64

In [31]:
data[data['Cycle'] % 2 == 0][['Daya (P)']]

       Daya (P)
10237  4.082223
10238  4.089450
10239  4.099784
10240  4.102893
10241  4.111107
...         ...
80997  2.508000
80998  2.502495
80999  2.500497
81000  2.498499
81001  2.499000

[40442 rows x 1 columns]

In [32]:
data[data['Cycle'] % 2 != 0][['Daya (P)']]

       Daya (P)
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
90977       NaN
90978       NaN
90979       NaN
90980       NaN
90981       NaN

[50540 rows x 1 columns]

## Asignment Rubrics

### Code Review
- Data Loading: Mampu memuat data dengan Pandas (2 pts) - **Done**
- Looping Implementation: Mampu menerapkan looping for dalam suatu kasus (10 pts) - **Done**
- Conditional If Implementation: mMampu menerapkan konsep conditional if dalam suatu kasus (10 pts) - **Done**
- Function Implementation: Mampu menerapkan function pada sebuah kasus (10 pts) - **Done**
- Pandas Query Implementation: Mampu mengimplementasikan pandas query dalam pengolahan data (10 pts) - **Done**

### Readability
- Tertata Dengan Baik: Semua Cell Di Notebook Terdokumentasi Dengan Baik Dengan Markdown Pada Tiap Cell Untuk Penjelasan Kode (8 pts) - **Done**