In [20]:
# MENAMPILKAN DATA MENGGUNAKAN PANDAS
import numpy as np
import pandas as pd
x = pd.read_excel("NMC1-9.xlsx")
x

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

In [151]:
# MENGHITUNG HAMBATAN DAN DAYA
def hambatan():
    r= x["V_m"]/(x["Current (A)"])
    return r
def daya():
    p= x["V_m"]*(x["Current (A)"])
    return p

In [169]:
# MENGHITUNG HAMBATAN JIKA CYCLE GANJIL, DAN MENGHITUNG DAYA JIKA CYCLE GENAP
for i in x["Cycle"]:
    if i%2  == 0:
        print(daya())
    else:
        print(hambatan())

KeyError: ('Cycle', 1)

In [141]:
# MENGAMBIL DATA CYCLE GENAP(QUERY)
x[ (x["Cycle"] %2 ==0)]

       time(s)    V_m  Current (A)  Cycle       Cap
10237    10237  4.111        0.993      2  2.833465
10238    10238  4.110        0.995      2  2.833465
10239    10239  4.108        0.998      2  2.833465
10240    10240  4.107        0.999      2  2.833465
10241    10241  4.107        1.001      2  2.833465
...        ...    ...          ...    ...       ...
80997    80997  2.508        1.000      8  2.783342
80998    80998  2.505        0.999      8  2.783342
80999    80999  2.503        0.999      8  2.783342
81000    81000  2.501        0.999      8  2.783342
81001    81001  2.499        1.000      8  2.783342

[40442 rows x 5 columns]